
body {
    max-width: 900px; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Отступы внутри body */
}

input#k_1, input#k_2, input#k_3 {
    width: 20px;}

.form-smirniy {
    width: 90%;
    }

/* выравнивание содержимого форм справа
input.form-smirniy,
select.form-smirniy {
    text-align: right;
    } */

input, select {
    text-end;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 10px 0px 10px;
    /* height: 30px;  Задаем высоту поля ввода */}

input:focus, input:hover, select:focus, select:hover {
    background-color: #ffffff;
    border: 1px solid #b1e1e4;}

input#submit {
    padding: 5px;
    font-size: 1.1em;
    color: #444444;
    clear: both;
    display: block;
    position: relative;
    margin: auto;
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background-color: #b9e4e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));}

input#submit:hover {
    color: #333333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));}

fieldset {
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;}

legend {
    font-size: 1.2em;
    text-align: center;}

header, nav {
  text-align: center;
  background: ;
  margin: 20px 0;
  padding: 5px;}


 .accordion-button:not(.collapsed) {
    background-color: var(--bs-white);
 }

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.15rem #a8cfce;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0.2rem;
}

.accordion-button {
        border: 1px solid #b1e1e4; /* Задайте желаемый цвет рамки */
        margin: 10px 0;
        border-radius: 5px;
    }

.form-check-input {
        border: 1px solid #b2b2b2;
}

label {
    margin-left: 5px}

html {
        scroll-behavior: smooth;
    }

/* Стиль при наведении курсора на пункт */
.navbar-nav .nav-link:hover {
  color: #0056b3 !important; /* Темно-синий */
  background-color: #e9ecef !important; /* Светло-серый фон */
}

/* Стиль для активного пункта меню в основной navbar */
.navbar-nav .nav-link.active {
  color: #0056b3 !important; /* емно-синий текст */
  background-color: #e9ecef !important; /* Светло-серый фон */
}

.red-line {
    text-indent: 25px; /* Или 1.5em/2em для адаптивности */
}
