{% extends 'base.html' %}

{% block title %}
smeta_pir
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}

<form method='POST' action="/smeta" name="">
    <fieldset>
        <legend> Калькулятор расчёта стоимости работ</legend>
        <div class="column1of2">
            <label> Строительный объём: <br/>
                <input name="volume" value={{the_volume}} type="number">
                <span>м<sup>3</sup></span> </label>
            <br/>

            <label> Высота здания в метрах, до: <br/>
                <input name="height" value={{the_height}} type="number"> <span>м.</span> </label>
            <br/>

            <label> Назначение здания: <br>
                <select name="purpose">
                    <option value="1" {% if the_purpose=='1' %}selected{% endif %}> Жилищно-гражданское</option>
                    <option value="2" {% if the_purpose=='2' %}selected{% endif %}> Промышленное</option>
                </select> </label>
            <br/>

            <label> Этажность здания: <br>
                <select name="floor">
                    <option value="1" {% if the_floor=='1' %}selected{% endif %}> Одноэтажное</option>
                    <option value="2" {% if the_floor=='2' %}selected{% endif %}> Многоэтажное</option>
                </select> </label>
            <br/>
        </div>

        <div class="column2of2">
            <label> Категория сложности здания: <br>
                <select name="category_1">
                    {% for i in cat %}
                    <option value="{{i}}" {% if the_category_1==i %}selected{% endif %}> {{i}}</option>
                    {% endfor %}
                </select> </label>
            <br/>

            <label> Сложность обмерных работ: <br>
                <select name="category_2">
                    {% for i in cat %}
                    <option value="{{i}}" {% if the_category_2==i %}selected{% endif %}> {{i}}</option>
                    {% endfor %}
                </select> </label>
            <br/>

            <label> Сложность обследовательских работ: <br>
                <select name="category_3">
                    {% for i in cat %}
                    <option value="{{i}}" {% if the_category_3==i %}selected{% endif %}> {{i}}</option>
                    {% endfor %}
                </select> </label>
            <br/>
        </div>

        <!-- начало Аккордеона с коэффициентами главы 2.1 СБЦП-->
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Дополнительные коэффициенты
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="k_2" name="k_2" {% if k_2 %} checked {%
                                   endif %}>
                            <label class="form-check-label" for="k_2">
                                Шаг колонн и несущих стен менее 6 м. (п.2.1.9) = 1.25
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="k_3" name="k_3" {% if k_3 %} checked {%
                                   endif %}>
                            <label class="form-check-label" for="k_3">
                                Обмеры и обследование клёпаных конструкций (п.2.1.10) = 1.2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="k_4" name="k_4" {% if k_4 %} checked {%
                                   endif %}>
                            <label class="form-check-label" for="k_4">
                                <!-- Только для обмерных работ! -->
                                Выполнение обмерных работ с использованием и сверкой имеющихся чертежей и выдачей
                                скорректированных чертежей заказчику(п.2.1.12) = 0.75
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="k_5" name="k_5" {% if k_5 %} checked {%
                                   endif %}>
                            <label class="form-check-label" for="k_5">
                                <!-- Только для обследовательских работ! -->
                                Выполнение поверочного расчета строительных конструкций не требуется (п.2.1.13) = 0.8
                            </label>
                        </div>
                    </div>
                </div>
                <!-- конец Аккордеона с коэффициентами главы 2.1 СБЦП-->

                <!-- начало Аккордеона с коэффициентами таблицы 10 СБЦП-->
                <div class="accordion accordion-flush">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Факторы, усложняющие работу (табл. 10)
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_1" name="k10_1" {% if k10_1
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_1">
                                        Здания, возведенные на просадочных, набухающих грунтах, над горными выработками,
                                        в подтапливаемых районах с карстовыми и оползневыми явлениями = 1.2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_2" name="k10_2" {% if k10_2
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_2">
                                        Насыщенность оборудованием более 50% площади помещений, затрудняющая
                                        производство обмерных и обследовательских работ или выполнение обмеров и
                                        обследований в затрудненных условиях (захламленность, стесненность, частично
                                        разобраны полы и др.) = 1.15
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_3" name="k10_3" {% if k10_3
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_3">
                                        Выполнение работ в цехах с вредным для здоровья производством, с
                                        вибродинамическими воздействиями на конструкции здания, с выделением пара,
                                        шумовыми воздействиями = 1.2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_4" name="k10_4" {% if k10_4
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_4">
                                        Выполнение работ в неотапливаемых зданиях или его частях (чердаки, кровли,
                                        фасады и др.) в неблагоприятный период года = 1.2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_5" name="k10_5" {% if k10_5
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_5">
                                        Выполнение работ в зданиях, являющихся памятником архитектуры = 1.25
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_6" name="k10_6" {% if k10_6
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_6">
                                        Выполнение работ в условиях, требующих обеспечение безопасности (использование
                                        дополнительных лестниц и различных приспособлений) = 1.15
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_7" name="k10_7" {% if k10_7
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_7">
                                        Выполнение работ в цехах со слабой степенью агрессивного воздействия окружающей
                                        среды = 1.2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_8" name="k10_8" {% if k10_8
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_8">
                                        То же, в цехах со средней степенью агрессивного воздействия окружающей среды =
                                        1.3
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_9" name="k10_9" {% if k10_9
                                           %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_9">
                                        То же, в цехах с сильной степенью агрессивного воздействия окружающей среды =
                                        1.4
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_10" name="k10_10" {% if
                                           k10_10 %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_10">
                                        Конструкции, усиленные по ранее разработанным проектам = 1.2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_11" name="k10_11" {% if
                                           k10_11 %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_11">
                                        Сейсмичность 7 баллов = 1.1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_12" name="k10_12" {% if
                                           k10_12 %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_12">
                                        Сейсмичность 8 баллов = 1.2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_13" name="k10_13" {% if
                                           k10_13 %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_13">
                                        Сейсмичность 9 баллов = 1.25
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="k10_14" name="k10_14" {% if
                                           k10_14 %} checked {% endif %}>
                                    <label class="form-check-label" for="k10_14">
                                        Выполнение работ на объектах со специальным режимом = 1.25
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- конец Аккордеона с коэффициентами таблицы 10 СБЦП-->

                    <input type="submit" value="Рассчитать" id="submit">
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <h6>
            <legend> Результат </legend>
            <br/><br/>
            <label> Стоимость обмерных работ:
                <span> {{ results_1 }} руб. </span> </label>
            <br/><br/>
            <label> Стоимость обследовательских работ:
                <span> {{ results_2 }} руб. </span> </label>
            <br/><br/>
            <label> Общая стоимость работ:
                <span> {{ results_3 }} руб. </span> </label>
        </h6>
    </fieldset>
</form>

{% endblock %} 