{% extends 'base.html' %}

{% block title %}
index page
{% endblock %}

{% block content_title %}
<h1> {{ the_title }} </h1>
{% endblock %}

{% block content %}

<form method='POST' action='/volume'>
    <legend> Калькулятор расчёта объёма </legend>
    <label class="form-label"> Введите площадь помещения: <br/>
        <input class="form-control mb-3" type="number" id="area" name='area' value="{{ form_data.get('area') }}" required>
        <span>м<sup>2</sup></span> </label>
    <br/>
    <label> Введите высоту помещения: <br/>
        <input type="number" id="height" name='height' value="{{ form_data.get('height') }}" required>
        <span>м.</span> </label>
    <br/>
    <br/>
    <label> Применить понижающий коэффициент 0,8?: <br>
        <select name="koef_1">
            <option value='0.8' {% if form_data.get('koef_1') == '0.8' %}selected{% endif %}> Да, применить </option>
            <option value='1' {% if form_data.get('koef_1') == '1' %}selected{% endif %}> Нет, не применять </option>
        </select> </label>
    <br/><br/>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="k_1" name="koef_2" {% if form_data.get('koef_2') %} checked {% endif %}>
        <label class="form-check-label" for="k_1">
            Коэффициент 0.6
        </label>
    </div>
     <br/>

    <input type='submit' value='Рассчитать'>
    <br/>
    <fieldset>
        <legend> Результат</legend>
        <label> Объём помещения равен:
            <span> {{ results }} м<sup>3</sup> </span> </label>
    </fieldset>
</form>


{% endblock %}